# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Env files
.env

# json files
.jsonl
.json

# Test
.coverage
.pytest_cache/
htmlcov/

# Gradio에서 생성하는 임시 파일
.gradio/